<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" /> <!-- charset --> 
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- viewport --> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        <link href="StyleSheet.css" rel="stylesheet">

        <title>FI320 Calculator</title>
    </head>
    <body>
    <div id="NavBar"></div>
    <div class="row">
        <div class="col-12 col-xs-0 cold-md-2 col-lg-0"></div>
        <div class="col-12 col-xs-0 cold-md-8 col-lg-12">
            
        </div>
        <div class="col-12 col-xs-0 cold-md-2 col-lg-0"></div>
    </div>

    <div id="history"></div>
    <div class="row">
        
            <div class="col-12 col-xs-0 cold-md-2 col-lg-0"></div>
            <div class="col-12 col-xs-0 cold-md-8 col-lg-12">   
                <div class="col-12 col-xs-1 col-s-1 col-md-4 col-lg-4" style = "font-size:25px; font-weight: 750;">
                    
                    <label id = "pageLabel" for="page" style="font-size: 40px; float: left;">Page:<br></label>
                    <p style="border-style:solid; border-width:10px; border-color:#a349a4; margin-top: 60px; color:#000000; text-align: left;" class="page" name="page" id="page">Easter Egg</p>

                    <label id = "answerLabel" for="answer" style="font-size: 40px; float: left;">Answer:<br></label>
                    <p style="border-style:solid; border-width:10px; border-color:#a349a4; margin-top: 60px; color:#000000; text-align: left;" class="answer" name="answer" id="answer">Easter Egg</p>
                </div>  
                    <button style="background-color: #a349a4;color: rgb(255, 255, 255);height: 50px; width: 200px; margin-top: 10px;">
                        <a href="profile.html" onclick=""> Go back </a>
                    </button>
            </div>
        <div class="col-12 col-xs-0 cold-md-2 col-lg-0"></div>
        
        </div>
    </div>
    

    <script type = "text/javascript" src = NavBar.js>

        
    </script>

<script>

    async function his(){

        
        const pages = ["PV","FV","PMT","NPER","NPV","Annual Growth of Divends", "Annual Growth of Stock", "Expected Dividends","Present Stock Price", "Future Stock Price", "Price of a Bond", "Yeild to Maturity", "Anuual Annuity",
         "Internal Rate of Return", "Average cost of capital","Capital Asset Pricing","Car Payments", "Amortization"];
         
        let response = await fetch('http://localhost:4000/loggedUser');
        
        

        try{
        
            users = await response.json();

            console.log(users.history);
            if (response != null) {
        

                //document.getElementById('pageLabel').innerHTML = pages[users.history[0][0]];
                document.getElementById('page').innerHTML = pages[users.history[0][0]];
                document.getElementById('page').style.color = "#ffffff";
                document.getElementById('answer').innerHTML = users.history[0][1];
                document.getElementById('answer').style.color = "#ffffff";
                
                //document.getElementById('answerLabel').innerHTML = users.history[0][1];
            }

        }
        catch{

            
            document.getElementById('page').innerHTML = "None";
                
            document.getElementById('answer').innerHTML = "None";
        }
    }      

    his();

    </script>
    </body>
</html>
<!--In class note: On event, like on click, takes true or false and as an argument which decides if the action will happen or not-->