.login-box{

    width: 320px;
    height: 390px;
    align-items: center;
    background-color: aliceblue;
    justify-content: center;

}


h2{
    font-size: 20px;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;

}