body {
    background-color:#000000;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 95vh;
    color:#ffffff;
}
a {
    color:#ffffff;
    font-weight:500;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
a:hover { 
    color: #ffffff;
    text-decoration: none;
    font-weight:800;
}

/* Dropdown Button */
.dropbtnNav {
background-color: #a349a4;
color: white;
border: none;
font-size: 25px;
font-family: 'Times New Roman', Times, serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdownNav {
position: relative;
display: inline-block;
}

.dropbtnNav:hover{
    font-weight:800;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentNav {
display: none;
position: absolute;
background-color: #a349a4;
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contentNav a {
color: #ffffff;
font-size: 25px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #ddd;}*/

/* Show the dropdown menu on hover */
.dropdownNav:hover .dropdown-contentNav{
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/
.login-box{

    width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #ffffff;
        border-radius: 15px ;
        margin-top: 500px;

}


h1{
    font-size: 20px;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;

}

.hist-box{

    width: 1000px;
    height: 1000px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #ffffff;
    border-radius: 15px ;
}

/* Dropdown Button */
.dropbtnForm {
    background-color: #000000;
    color: white;
    border-style: solid;
    border-color: #a349a4;
    border-width: 5px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdownForm {
    position: relative;
    display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-contentForm {
    display: none;
    position: absolute;
    background-color: #000000;
    z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-contentForm a {
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    display: block;
    }

    .dropdownForm a:hover{
        font-weight:0px!important;
    }
    
    /* Change color of dropdown links on hover */
    /*.dropdown-content a:hover {background-color: #ddd;}*/

input::-webkit-outer-spin-button, /*Get rid of buttons on the number form*/
input::-webkit-inner-spin-button {
  display: none;
}

.form-control{
    border-style:solid;
    border-color: #a349a4;
    border-width: 5px;
    float: left;
    background-color: #000000;
    color:#ffffff;
    border-radius: 0;
}

.form-control:focus{
    border-style:solid;
    border-color: #a349a4;
    border-width: 5px;
    float: left;
    background-color: #000000;
    color:#ffffff;
    border-radius: 0;
}